.form__container {
    background-image: url('../bg/Shop1.jpg');
    background-color: var(--common-green-sprite);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}
